* {
    box-sizing:border-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
} 
h1 {
    background-color: black ;
    color: azure;
}
img {
    float: left;
    margin: 40px;
}
table {

    margin: 150px auto;
    border: 3px solid black; 
    border-collapse: collapse;
}

td, th {
    border: 3px solid black; 
    padding: 10px;
}

th {
    font-weight: normal;
}


form {
    padding: 100px;
}
a {
    background-color: black;
    color: azure;
    padding: 10px;
    margin: 40px;
    border-radius: 40px;
}
h4{
    margin: 40px;
    text-align: center;
}